.container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    margin-top: 20px;
}

.dashboard-card {
    margin-bottom: 20px;
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.dashboard-card:hover {
    transform: scale(1.01);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.form-group {
    margin-bottom: 15px;
}

.materia-card {
    width: 300px;
    height: 250px; 
    margin: 10px;
    padding: 20px;
    background: #f8f9fa; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.materia-card .btn {
    width: 100%;
    margin-bottom: 10px;
}

.table td{
    vertical-align: middle;
}


.navbar-nav .nav-link {
    color: #ffffff !important; 
    transition: transform 0.2s;
}


.navbar-nav .nav-link.active, .navbar-nav .nav-link:hover {
    color: #ffffff !important;
    transform: scale(1.05);
}
