.container {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    margin-top: 20px;
}

.dashboard-card {
    margin-bottom: 20px;
}
.card .dashboard-card {
    min-height: 250px;
}

.materia-card {
    width: 300px;
    height: 250px; 
    margin: 10px;
    padding: 20px;
    background: #f8f9fa; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.materia-card .btn {
    width: 100%; /* Os botões ocupam toda a largura da caixa */
    margin-bottom: 10px;
}